<launch>
  <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch"/>
  <include file="$(find hololens_point_cloud_control_gui)/launch/depth_frame_recorder_gui.launch"/>
  <node name="depth_frame_recorder" pkg="hololens_point_cloud_receiver" type="depth_frame_recorder" output="screen"/>
</launch>
