<launch>
  <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch"/>
  <include file="$(find hololens_point_cloud_control_gui)/launch/realtime_spatial_mapper_gui.launch"/>
  <node name="realtime_spatial_mapper" pkg="hololens_point_cloud_receiver" type="realtime_spatial_mapper" output="screen"/>
</launch>
