<launch>
  <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch"/>
  <node name="PointCloudListener" pkg="hololens_point_cloud_receiver" type="listener" output="screen"/>
  <node name="rqt_gui" pkg="rqt_gui" type="rqt_gui" args="--perspective-file $(find hololens_point_cloud_control_gui)/resource/ControlGui.perspective" output="screen"/>
</launch>
