<library path="src">
  <class name="ControlGuiPlugin" type="hololens_point_cloud_control_gui.control_gui.ControlGuiPlugin" base_class_type="rqt_gui_py::Plugin">
    <description>
      A GUI plugin to control basic actions of the hololens_point_cloud_receiver package.
    </description>
    <qtgui>
      <!-- optional grouping...
      <group>
        <label>Group</label>
      </group>
      <group>
        <label>Subgroup</label>
      </group>
      -->
      <label>HoloLens Point Cloud Control GUI</label>
      <icon type="theme">system-help</icon>
      <statustip>A GUI plugin to control basic actions of the hololens_point_cloud_receiver package.</statustip>
    </qtgui>
  </class>
</library>