<launch>
    <!-- HoloLens depth data receiver -->
    <include file="$(find hololens_depth_data_receiver)/launch/depth_data_receiver.launch"/>
    <node name="hololens_rviz_tf1" pkg="tf" type="static_transform_publisher" args="0 0 0 0 0 1.5707963 /odom /hololens_world 100"/>
    <node name="hololens_rviz_tf2" pkg="tf" type="static_transform_publisher" args="0 0 0 -1.5707963 0 0 /hololens /odom 100"/>

    <!-- FLOBOT 3D Object Detector -->
    <rosparam command="load" file="$(find object3d_detector)/config/object3d_detector_multiclass.yaml" subst_value="true"/>
    <node pkg="object3d_detector" type="object3d_detector_srv" name="object3d_detector" output="screen" respawn="true">
        <param name="subscribeToHoloLensPointCloud" type="bool" value="true"/>

        <param name="frame_id" type="string" value="odom"/>

        <param name="cluster_size_min" type="int" value="5"/>
        <param name="cluster_size_max" type="int" value="30000"/>
    </node>

    <!-- NBellotto's Bayes People Tracker -->
    <node pkg="bayes_people_tracker" type="bayes_people_tracker_srv" name="clustersTrackerAllClassification" respawn="true">
        <param name="base_link" type="string" value="odom"/>
        <param name="target_frame" type="string" value="odom"/>
    </node>
    <rosparam command="load" file="$(find object3d_detector)/config/object3d_detector.yaml"/>
    <node pkg="bayes_people_tracker" type="bayes_people_tracker" name="bayes_people_tracker" output="screen" respawn="true">
        <param name="base_link" type="string" value="odom"/>
        <param name="target_frame" type="string" value="odom"/>
    </node>
</launch>