<library path="src">
  <class name="ControlGuiPlugin" type="octomap_based_spatial_mapper_control_gui.control_gui.ControlGuiPlugin" base_class_type="rqt_gui_py::Plugin">
    <description>
      A GUI plugin to control basic actions of the octomap_based_spatial_mapper package.
    </description>
    <qtgui>
      <!-- optional grouping...
      <group>
        <label>Group</label>
      </group>
      <group>
        <label>Subgroup</label>
      </group>
      -->
      <label>Octomap based Spatial Mapper Control GUI</label>
      <icon type="theme">system-help</icon>
      <statustip>A GUI plugin to control basic actions of the octomap_based_spatial_mapper package.</statustip>
    </qtgui>
  </class>
</library>