<launch>
    <!-- Only including a single launch file might seem weird, but there are other launch files including this launch file, so I'm just forwarding them to the renamed version of the initial launch file. -->
    <include file="$(find hololens_depth_data_receiver)/launch/initial_depth_data_receiver.launch"/>
</launch>
