<launch>
    <include file="$(find hololens_depth_data_receiver)/launch/depth_data_receiver.launch"/>

    <rosparam file="$(find octomap_based_spatial_mapper)/config/lower_computational_load.yaml"/>
    <node name="octomap_based_spatial_mapper" pkg="octomap_based_spatial_mapper" type="octomap_based_spatial_mapper" respawn="true"/>

    <include file="$(find object3d_detector)/launch/object3d_detector_srv.launch"/>

    <rosparam command="load" file="$(find octomap_based_spatial_mapper)/config/object_tracking_config.yaml"/>
    <node pkg="bayes_people_tracker" type="bayes_people_tracker" name="clustersTrackerClustersOfInterest" respawn="true">
        <param name="base_link" type="string" value="map"/>
        <param name="target_frame" type="string" value="map"/>
    </node>
</launch>