<launch>
    <include file="$(find octomap_based_spatial_mapper)/launch/octomap_based_spatial_mapper.launch"/>

    <node name="hololens_rviz_tf1" pkg="tf" type="static_transform_publisher" args="0 0 0 0 0 1.5707963 /map /hololens_world 100"/>
    <node name="hololens_rviz_tf2" pkg="tf" type="static_transform_publisher" args="0 0 0 -1.5707963 0 0 /hololens /map 100"/>
    <node name="rqt_gui" pkg="rqt_gui" type="rqt_gui" args="--perspective-file $(find octomap_based_spatial_mapper)/config/octomap_based_spatial_mapper_gui.perspective" respawn="true"/>
</launch>